.color-dome {
background-color: orange;
}

.Summ {
    width: 60.625rem;
    height: 32.5rem;
}

.center{
    text-align: center;
    border: 0.188rem solid red;
    background-color: orangered;
}

.center1{
    margin-left: 17.5rem;
}

button {
    background-image: url(
'http://clipart-library.com/img/1844585.jpg');
    background-size: cover;
    width: 100px;
    height: 50px;
    font-size: 1rem;
}