.color-dome {
background-color: orange;
}

.Summ {
    width: 60.625rem;
    height: 32.5rem;
}

.center{
    text-align: center;
    border: 0.188rem solid white;
}

.center1{
    margin-left: 17.5rem;
}